/*header*/
header{
  display: inline-flex;
  align-items: center;
  justify-content: center;
    height: 120px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: solid 13px #ffffff07;
   box-shadow:  inset 11px -7px 19px 0px rgb(0 0 0 / 20%), inset -11px 7px 19px 0px rgb(255 255 255 / 11%), -15px 17px 17px rgb(10 10 10 / 8%);
}

/* body*/
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
margin: 0px;
padding: 0px;
align-items: center;
justify-content: center;
overflow-x: clip;
}

@font-face {
    font-family: 'Technos Regular';
    font-style: normal;
    src: local('Technos Regular'), url('../fonts/Technos-PKDZP.woff') format('woff');
    }

    
 /*HEADER*/   
header .contenedor_header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
header img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-left: 50px;
    filter: none;
}

header nav{
    display: flex;
    justify-content: center;/* Distributes items evenly with space between them */
    align-items: center; /* Aligns items vertically in the center */
    margin:auto;
}


header nav a{
    text-decoration: none;
    align-items: center;
    margin: 0 15px;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 1.15em;
  
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;/* Distributes items evenly with space between them */
  align-items: center; /* Aligns items vertically in the center */
  margin:auto;
}




    /*seccion 1*/
    .seccion_1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between; /* Centra horizontalmente */
        align-items: center;  
    }

    /*gradiente de fondo*/

    .gradient{
      position: absolute; 
      top:0px;
       z-index:-1;
       margin: 0px;
       width: 100%;
       filter: blur(3px);
    }


  #gradient-canvas  {
    display: block;
    width: inherit;
      --gradient-color-1: #3d3c3c; 
      --gradient-color-2: #7a7a7a; 
      --gradient-color-3: #b1b0b0;  
      --gradient-color-4: #dadada;
      aspect-ratio: auto 402/300;
    }

    canvas {
      overflow-clip-margin: content-box;
      overflow: clip;
  }
 
      .seccion_1 .texto {
        /*version sin vidrio*/
        margin-left: 45px;
        align-items: flex-start;
        justify-content: space-between;
        width: 50%; /* Ajusta el ancho del texto */
        display: flex;
        flex-direction: column; /* Apila los elementos del texto verticalmente */
        height: auto;
        padding: 20px;
        border-radius: 30px;
        box-shadow:   -15px 17px 17px rgb(10 10 10 / 3%)

      }

   

.seccion_1 .texto h1 {
  color: #fff;
  background: linear-gradient(90deg, #ffffff, #07040D); /* Degradado de izquierda a derecha */
  -webkit-background-clip: text; /* Aplica el degradado solo al texto */
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para que se vea el degradado */
  font-weight: 400;
  font-family: 'Technos Regular';
  font-weight: normal;
  font-size: 4em;
}

.seccion_1 .texto p{
  margin-top: -25px;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    
}



img{
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(255, 255, 255, 0.5));
}

.seccion_1 .images {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 40%; /* Ajusta el ancho de las imágenes */
    overflow-y: clip;
  }





  .seccion_1 .images img.implante_1 {
position: absolute;
top:300px;
right: 100px;
z-index:1;
  }


img.amara_1 {
    position: relative; 

    bottom: -108px;
    right: 121px;
    object-fit: contain;  /* Centra verticalmente */
    
    z-index: -1;
    height: 648px;
    aspect-ratio: 1/1;

  }

  /*seccion 2*/
  .seccion_2{
    display:flex; 
    align-items:center;
    flex-direction:column;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color:#ececec;
  }


  .contenedor_t{
display: flex;
align-items: flex-start;
flex-direction: column;
width: 90%;
    }

    /*SECTION 2*/

    .seccion_2 h1{
        font-family: 'JetBrains Mono', monospace;
       font-weight: 400;
       font-size:2em; 
       margin-top: 40px;
       padding: 0px;  
    }

  .seccion_2 h2{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 800;
    font-size: 2.8em;
    margin-top: 35px;
    padding: 0px;  
  }

  .seccion_2 h3{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 400;
    font-size: 1.4em
  }

 .seccion_2 .contenedor1{
display: flex;
flex-direction: row;
align-items:flex-start;
justify-content: space-between;
width: 90%;
  }

  .seccion_2 .contenedor1a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .seccion_2 .container_img1{
    margin-top:5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
  }

.placeholder{
    width: 50%;
    height: 50%;
    overflow: hidden;
  }


  .seccion_2 contenedor2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }


    .seccion_2 .container_fede{
        display: flex;
        justify-content: center;
        width:40%;
        border-radius: 30px;
        overflow: hidden;
        margin-top: 45px;
        margin-left: 20px;
      }
    

/*seccion 3*/
 
.seccion_3{
    padding-top: 150px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(to bottom, #d9d9d9, #ffffff);
    box-shadow: 1px 11px 16px 0 rgba(255, 255, 255, .25) inset, 20px -19px 20px 0px rgb(0 0 0 / 16%) inset; }

 .seccion_3 h3{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 400;
    font-size: 1.5em;
 }

 .seccion_3 .contenedor4y5{
    display: flex;
    width: 100%;
    align-items:flex-start;
    justify-content: space-between;
 }

 .seccion_3 .contenedor_4{
 margin-left: 60px;
 }

 .seccion_3 .contenedor_5{
    margin-top:100px;
background-color: #d9d9d9 ;
    overflow: hidden;
    mask-image: url(../SVG/Vector.svg);
    outline: 3px solid #ffffff07; 

    }

    /*neumorfismo*/
    .element {
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.element-1 {
  background-color:#d9d9d9;
}

.element-2 {
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}

.element-3 {
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}

/*inset sombra*/
.element-4{
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}
.element-5{
  box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}

    /*efecto vidrio*/
    .glass{
      background-color:#ffffff11;
      backdrop-filter: blur(5px);
      border-radius: 15px;
        border-top: solid 3px #ffffff31;
        border-right: solid 3px #ffffff31;
        border-left:#0000004f; 
        border-bottom:#0000004f; 
        box-shadow: inset 11px -7px 19px 0px rgba(0, 0, 0, 0.25),
        inset -11px 7px 19px 0px rgba(255, 255, 255, 0.25),
        -15px 17px 17px  rgba(10, 10, 10, 0.137);
    }

    /*texto giratorio*/
    tg {
      height: 200px; /* Increase the height */
      width: 200px;  /* Increase the width */
      position: relative;
      top: -110px;
      left: -410px; /* Adjust the position if necessary */
      font-size: 13px; /* Adjust the font size if necessary */
      text-align: center;
      animation: effect 30s linear infinite; /* Slower and smoother animation */
    }

    @keyframes effect {
      0% {
      transform: rotate(0deg);
      }
      100% {
      transform: rotate(360deg);
      }
    }

    span {
      position: absolute;
      left: 50%;
      transform-origin: 0px 100px; /* Adjust the transform-origin to match the new size */
      font-family: 'JetBrains Mono', monospace;
      text-transform: uppercase;
      font-weight: 700;
      color: #ffffff;        
      filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(20, 197, 241, 0.5));
    }
  
    /*responsive*/
    
@media screen and (max-width: 1000px) {
  .deskwrapper{
    display: none;
  }

  header img{
    margin-left: 0px;
  }

  
/*seccion1*/
  .seccion_1 .texto {
    align-items: flex-start;
    box-shadow: none;
    margin-left: 0px;
  }
  .seccion_1 .texto h1 {
    font-size: 3em;
  }

  .seccion_1 .texto p {
    font-size: 1.2em;
  }

  .seccion_1 .images {
    overflow: hidden;
    background: antiquewhite;
    z-index: 0;
    mask-image: url(../SVG/Vector.svg);
  }

  /*seccion2*/

  /*seccion 3*/
.seccion_3 .contenedor_4 {
  margin-left: 0px;
}

  /*ocultar cosas*/

  .seccion_2 .container_fede{
    display: none;
  }

}

/*menu hamburguesa*/
