/*header*/
header{
    height: 80px;
    padding: 20px;
    background-color: #030303;
}


header .contenedor_header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
header img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

header nav{
    display: flex;
    justify-content: center;/* Distributes items evenly with space between them */
    align-items: center; /* Aligns items vertically in the center */
    margin:auto;
}


header nav a{
    text-decoration: none;
    align-items: center;
    margin: 0 15px;
}


header nav a h4{
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
    text-shadow: 4px 4px 8px rgba(245, 252, 210, 0.6);
}



/* body*/
body{
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #ffffff;
}

@font-face {
    font-family: 'Technos Regular';
    font-style: normal;
    src: local('Technos Regular'), url('../fonts/Technos-PKDZP.woff') format('woff');
    }

    /*seccion 1*/
    .seccion_1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;  
    }

    /*gradiente de fondo*/
    .gradient{
      position: absolute; 
      top:0px;
       z-index:-1;
       margin: 0px;
    }

    #gradient-canvas {
      width:100%;
      --gradient-color-1: #363636; 
      --gradient-color-2: #6b6969; 
      --gradient-color-3: #c7c7c7;  
      --gradient-color-4: #dadada;
    }

 
      .seccion_1 .texto {
        margin-left: 30px;
        align-items: flex-start;
        justify-content: space-between;
        width: 60%; /* Ajusta el ancho del texto */
        display: flex;
        flex-direction: column; /* Apila los elementos del texto verticalmente */
        height: 100%;
      }


.seccion_1 .texto h1{
    color: #fff;
    background: linear-gradient(90deg, #ffffff, #07040D); /* Degradado de izquierda a derecha */
    -webkit-background-clip: text; /* Aplica el degradado solo al texto */
    background-clip: text; /* Standard property for compatibility */
    -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para que se vea el degradado */
    font-weight: 400;
   font-family:'Technos Regular';
   font-weight:normal;
   font-size:64px;
}

.seccion_1 .texto p{
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    
}

.seccion_1 .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 40%; /* Ajusta el ancho de las imágenes */
  }





  .seccion_1 .images img.implante_1 {
position: absolute;
top:300px;
right: 100px;
z-index:1;
  }


img.amara_1 {
    position: relative; 
    bottom:0px; /* Ajusta este valor para mover la imagen hacia arriba o hacia abajo */
    right:330px;   /* Ajusta este valor para mover la imagen hacia la izquierda o derecha */
    object-fit: contain;  /* Centra verticalmente */
  }

  /*seccion 2*/
  .seccion_2{
    display:flex; 
    align-items:center;
    flex-direction:column;
    width: 100%;
    height: 100%;
  }


  .contenedor_t{
display: flex;
align-items: flex-start;
flex-direction: column;
width: 90%;
    }

    .seccion_2 h1{
        font-family: 'JetBrains Mono', monospace;
       font-weight: 400;
       font-size:32px;   
    }

  .seccion_2 h2{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 800;
    font-size: 48px;
  }

  .seccion_2 h3{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 400;
    font-size: 32px;
  }

 .seccion_2 .contenedor1{
display: flex;
flex-direction: row;
align-items:flex-start;
justify-content: space-between;
width: 90%;
  }

  .seccion_2 .contenedor1a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .seccion_2 .container_img1{
    margin-top:60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color:#d9d9d9;
  }

.placeholder{
    width: 50%;
    height: 50%;
    overflow: hidden;
  }


  .seccion_2 contenedor2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    .seccion_2 .container_fede{
        display: flex;
        justify-content: center;
        width:35%;
        border-radius: 30px;
        background-color:#d9d9d9;
        overflow: hidden;
      }
    

/*seccion 3*/
 
.seccion_3{
    padding-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
 }

 .seccion_3 h3{
    font-family: 'JetBrains Mono', monospace;
    color: #030303;
    font-weight: 400;
    font-size: 32px;
 }

 .seccion_3 .contenedor4y5{
    display: flex;
    width: 100%;
    align-items:flex-start;
    justify-content: space-between;
 }

 .seccion_3 .contenedor_4{
 margin-left: 60px;
 }

 .seccion_3 .contenedor_5{
    margin-top:100px;
    background-color:#d9d9d9;
    overflow: hidden;
    mask-image: url(../SVG/Vector.svg);
    }

    /*efecto vidrio*/
    .glass{
      background-color:#d9d9d900;
      backdrop-filter: blur(25px);
      box-shadow: -15px 17px 17px  rgba(10,10,10,0.25);
      border-radius: 10px;
      border: solid 2px #ffffff07;
      padding: auto;
    }

            

      