/*css general*/
/*se usan algunas clases para todas las paginas de la web*/

/* Aplicar box-sizing a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* scroll suave*/
html {
  scroll-behavior: smooth; /* Hacer el scroll suave */
}

/*header*/
header {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  border-bottom: solid 1px #ffffff31;
  border-right: solid 1px #ffffff31;
  border-left: solid 1px #0000004f;
  border-top: solid 1px#0000004f;
  box-shadow: inset 11px -7px 19px 0px rgba(0, 0, 0, 0.20),
    inset -11px 7px 19px 0px rgba(255, 255, 255, 0.20),
    0px 20px 17px 1px rgb(10 10 10 / 29%);
  backdrop-filter: blur(5px);
}



body {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: auto; /* La altura se ajusta automáticamente al contenido */
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
  box-sizing: border-box; /* Incluir padding y bordes en el cálculo de ancho y alto */
/* Tamaño de fuente base para mejor legibilidad */
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
  background-color: #000000;
}


@font-face {
  font-family: 'Technos Regular';
  font-style: normal;
  src: local('Technos Regular'), url('../fonts/Technos-PKDZP.woff') format('woff');
}


/*HEADER*/

.deskwrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logo */
header img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 50px;
  filter: none;
}

header nav {
  display: flex;
  justify-content: center;
  /* Distributes items evenly with space between them */
  align-items: center;
  /* Aligns items vertically in the center */
  margin: auto;

}

header nav ul li{
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  margin: 20px;
}

header nav a {
  text-decoration: none;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 1.15em;
}

/*efecto hover*/
#glow {
  transition: .5s ease-in-out;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  color: rgba(0, 0, 0, .1);
  overflow: visible;

  &:hover {
    color: white;
    text-shadow: 0 0 5px #b0e0e6, 0 0 10px #add8e6, 0 0 15px #87ceeb, 0 0 20px #87cefa;
    transform: translateY(-5px);
  }
}

.text__glitch  {
cursor: pointer;
}

.text__glitch span {
  display: inline-block; /* Asegura que cada letra mantenga su posición */
  width: 1ch; /* Asegura que cada letra ocupe el mismo ancho */
  text-align: center; /* Centra el texto dentro de cada span */
}



ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* Distributes items evenly with space between them */
  align-items: center;
  /* Aligns items vertically in the center */
  margin: auto;
}


/*esconder mobile*/
.mobilewrapper {
  display: none;
}

.mobilewrapper {
  display: none;
}




/*seccion 1*/
.seccion_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding: 80px 25px 25px 25px;
  background-image: url(../images/img_mujer3.png);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: 42%;
}

/*gradiente de fondo*/

.gradiente_wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  z-index: -1;
  margin: 0px;
  filter: blur(2px);
}



#gradient-canvas {
  overflow: hidden;
  width:100%;
  height:100%;
  --gradient-color-1: #3d3c3c;
  --gradient-color-2: #7a7a7a;
  --gradient-color-3: #b1b0b0;
  --gradient-color-4: #dadada;
}

canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.seccion_1 .texto {
  /*version sin vidrio*/
  margin-top: 20px;
  margin-left: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  /* Ajusta el ancho del texto */
  height: auto;
  display: flex;
  flex-direction: column;
  /* Apila los elementos del texto verticalmente */
}

.seccion_1 .ts1 {
  width: 100%;
}

.seccion_1 .texto h1 {
  margin: 0px;
  color: #fff;
  background: linear-gradient(90deg, #ffffff, #07040D);
  /* Degradado de izquierda a derecha */
  -webkit-background-clip: text;
  /* Aplica el degradado solo al texto */
  background-clip: text;
  /* Standard property for compatibility */
  -webkit-text-fill-color: transparent;
  /* Hace que el texto sea transparente para que se vea el degradado */
  font-weight: 400;
  font-family: 'Technos Regular';
  font-weight: normal;
  font-size: 4em;
}

.seccion_1 .subts1 {
  margin-top: 40px;
  width: 80%;
}

.seccion_1 .texto p {
  margin: 0px;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 400;
  color: #fff;

}



img {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(255, 255, 255, 0.5));
}

.seccion_1 .images {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 40%;
  /* Ajusta el ancho de las imágenes */
  overflow-y: clip;
}





.seccion_1 .images img.implante_1 {
  position: absolute;
  top: 300px;
  right: 100px;
  z-index: 1;
}


img.amara_1 {
  position: relative;

  bottom: -108px;
  right: 121px;
  object-fit: contain;
  /* Centra verticalmente */

  z-index: -1;
  height: 648px;
  aspect-ratio: 1/1;

}

/*seccion 2*/
.seccion_2 {
  padding: 50px 25px 25px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(../images/fondo_evento.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*evento contador etc*/
.evento_destacado{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding:7% 12% 7% 12%;
  font-family: jetbrains mono, monospace;
}

.wrapper_evento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  width: 100%;
}

.eventon{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
background-color: black;
border-radius: 0px 20px 20px 20px;
width:100%;
padding: 20px;
}

.ev1{
  color: white;
  display: flex;
  flex-direction: column;
  width: 35%;
gap: 60px;
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 40
}


.evd{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
}

.evd h2{
font-family: jetbrains mono, monospace;
margin: 0px;
font-weight: 200;
font-size: 20px;
margin-left:5px;
}

.evd2{
  margin-left:30px;
  width: 75%;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

.contador{
  color: white;
  display: flex;
  flex-direction: column;
  width: 45%;
justify-content: space-around;
}
.contador h3{
  font-style: italic;
  font-size: 25px;
  margin: 0px;
  font-weight: 200;
}

.tiempo{
  margin: 0px;
  color: white;
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  font-style: italic;
  width: 80%;
  border-bottom: 1px solid white;
  gap: 20px;
  
}
.tiempo h4{
  font-size: 45px;
  margin: 0px;
}
.dias p,.horas p,.minutos p,.segundos p{
  gap: 5px;
}

.dias{
  margin: 0px;
 display: flex;
  flex-direction: column;
  align-items: center;
}
.horas{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.minutos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.segundos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*efecto flip*/



.lugarygtm{
  margin-top:10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.tlugar1{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
 gap: 5px;
}
.tlugar2{
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.tlugar1 p,.tlugar2 p{
  margin: 0px;
}

.imagenev{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  filter: none;
  width: 20%;
  align-self: stretch;
}

#imgevento{
  position: relative;
  height: 90%;
}

/*titulo*/
.titulo {
  text-align: start;
  height: 30%;
  width: 100%;
}

/*descripción*/
/*SECTION 2*/



.seccion_2 h1 {
  margin-top: 0px;
  color: #000000;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  font-size: 2em;
  padding: 0px;
}

.seccion_2 h2 {
  font-family: 'JetBrains Mono', monospace;
  color: #030303;
  font-weight: 800;
  font-size: 2.8em;
  padding: 0px;
}

.seccion_2 h3 {
  font-family: 'JetBrains Mono', monospace;
  color: #030303;
  font-weight: 400;
  font-size: 1.4em
}

/*contenedor general amara, federico y texto*/
.wrapperaft {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.seccion_2 .contenedorayf {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

/*contenedor general del texto*/
.wrapper_texto_s2 {
  padding: 10px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.contenedor_5 {
  width: 50%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background:rgb(56, 55, 55);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.contenedor_5:hover {
  #img3 {
    visibility: visible;
    opacity: 1;
  }
}

#amara_f {
  filter: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  margin-bottom: 0px;
  object-position: center left;
  filter: brightness(0.5) saturate(0.8);
  z-index: 1;
}



.container_img1 {
  width: 50%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background:rgb(56, 55, 55);
  box-shadow: -12px -12px 16px 0 rgba(0, 0, 0, 0.25), 8px 8px 12px 0 rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.seccion_2 .container_img1:hover {
  #img1 {
    visibility: visible;
    opacity: 1;
  }
}



.placeholder {
  width: 120%;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  margin-bottom: 0px;
  object-position: center bottom;
  filter: brightness(0.6) saturate(0.5);
}


.desc{
  font-family: jetbrains mono, monospace;
  width: 95%;
  padding: 25px;
position: absolute;
align-items: flex-start;
justify-content: flex-start;
display: flex;
flex-direction: row;
bottom:0px;
left: 0px;
z-index: 2;
color: white;
}

.desc2{
display: flex;
flex-direction: column;
}

.desc2 h3{
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.24px;
  margin: 0px;
}

.desc2 h4{
  font-size: 24px;
  font-weight: 300;
  line-height: 31.68px;
  margin: 0px;
}

/*organizacion*/
.organizacion{
background-size: contain;
background-repeat: no-repeat;
  background-image: url(../images/image_orga.png);
  width: 80%;
  margin-top: 100px;
  margin-bottom :100px;
  height: 150vh;
}



/*redes sociales desktop*/
.social-media {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s, opacity 0.5s ease-in-out;
  justify-content: space-around;
  position: absolute;
  z-index:3;
}

.media {
  background-color: rgba(12, 12, 12, 0.11);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(5px);
  border: solid 2px #ffffff11;
  position: relative;
  top:-30px;
  padding: 10px;
  border-radius: 10%;
  transition: transform 0.5s ease-in;
}


.social-media a i {
  color: #7a7a7a;
  font-size: 2em;
}

.social-media .media:hover {
  transform: translateY(-20px);
}



#img1 {
  right: 0px;
  bottom: 0px;
}

#img2 {
  left: 0px;
  bottom: 0px;
}

#img3 {
  bottom: 0px;
  right: 0px;
}

/*ocultar redes mobile*/
.social_mobile {
  display: none;
}


/*seccion nosotros*/
.nosotros{
  padding: 70px;
  background: white;
  width:100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.titulo_nosotros{
margin-left:100px;
}
.nosotros h1{
  font-family: 'JetBrains Mono', monospace;
  font-size: 2.5em;
  font-weight: 800;
  color: #000000;
  margin: 0px;
}
.nosotros h2{
  font-family: JetBrains Mono;
  font-size: 25px;
  font-weight: 400;
  line-height: 42.24px;
  text-align: left;
  margin: 0px;
}
.texto_nos{
  color: black;
  position: relative;
  padding: 80px;
  width: 100%;
}

.texto_nos::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;
  clip-path: polygon(0 90px,90px 0,100% 0,100% calc(100% - 90px),calc(100% - 90px) 100%,0 100%,0 90px,2px  calc(90px + 0.83px),2px calc(100% - 2px),calc(100% - 90px - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 90px - 0.83px),calc(100% - 2px) 2px,calc(90px + 0.83px) 2px,2px calc(90px + 0.83px));
}

.conocenos_mas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
 padding:20px;
}

.muestra {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170vh;
  padding: 50px;
background-color: #000000;
  text-align: left; /* Centra el texto */
}
.overlay_g {
  position: absolute;
  width: calc(100% + 50px);
  height: 100%;
  padding: 0;
  margin: 0;
  left: -50px;
}
.overlay_g::before {
  content: '';
  position: absolute; /* Cambiado a absolute */
  top: 150px; /* Asegúrate de que empieza desde la parte superior */
  left: 0; /* Asegúrate de que empieza desde la parte izquierda */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 
  90%; /* Ocupa toda la altura del contenedor */
  background-image: url('/images/glitch_textura.gif'); /* Usar background-image */
  background-size: cover; /* Asegúrate de que cubra el área */
  pointer-events: none; /* Permitir clics a través */
  opacity: 0.3; /* Ajustar según sea necesario */
  mix-blend-mode: difference;
}



.titulo_y_sub{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width:100%;
  margin-bottom: 10px;
}
.titulo_seccion4{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0px;
  padding: 10px;
}

.titulo_seccion4 h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 2.5em;
  font-weight: 300;
  color: #df18be;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
}



.obra{
  width: 50%;
  text-align: center;
  margin-left: 40px;
}
/*registro*/
.Registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.wrapper{
	width: 100%;
  margin-top: 50px;
}

.wrapper img{
  filter: unset;
  border: 1px solid rgb(47, 231, 255);
  cursor:"pointer";
}
.vertical {
  border: 1px solid rgb(47, 231, 255);
}
.container > div {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}

.container > div > img {
  cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: difference;
    transition: all 0.5s ease-in-out;
}
.container > div > img:hover{
filter: drop-shadow(0px 0px 10px rgba(47, 231, 255, 0.644));
}

/* Estilo para el overlay */
#overlay_fotos {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
z-index: 5;
display: none;
pointer-events: none; /* Allow clicks to pass through */
backdrop-filter: blur(5px);
transition: all .5s;
}

.agrandada{
  transition: all 0.5s ease-in-out;
}
/* Grid */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
    grid-auto-rows: 175px;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}



/*neumorfismo*/
.element {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.element-1 {
  background-color: #d9d9d9;
}

.element-2 {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
}

.element-3 {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
}

/*inset sombra*/
.element-4 {
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, .25) inset,
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
}

.element-5 {
  box-shadow:
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}




/*texto giratorio*/
tg {
  position: absolute;
  top: 240px;
  right: 360px;
  height: 200px;
  /* Increase the height */
  width: 200px;
  /* Increase the width */
  font-size: 13px;
  /* Adjust the font size if necessary */
  text-align: center;
  animation: effect 30s linear infinite;
  /* Slower and smoother animation */
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 100px;
  /* Adjust the transform-origin to match the new size */
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(20, 197, 241, 0.5));
}



@media screen and (max-width: 500px) {

  header {
    background-color: #8181818f;
    backdrop-filter: unset;
    padding: 10px 20px 10px 10px;
  }

  /*nav*/

  .deskwrapper {
    display: none;
  }

  /*menu hamburguesa*/

  .mobilewrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }


  .mobilewrapper .contents {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 0px;
    backdrop-filter: blur(5px);
    border: solid 1px #6969691f;
    background-color: #03030341;
    transition: all 0.5s ease-in-out;
  }

  .overlay-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 90%;
    overflow-y: hidden;
  }

  .overlay-content .c1 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 8px;
    overflow: hidden;
    width: 100%;
    align-items: center;
  }

  .overlay-content a {
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 8px;
  }

  .overlay-content #links {
    background-color: #ffffff42;
    border: 1px solid #ffffff11;
  }




  .overlay-content #links:active {
    background-color: #00000042;
  }

  /*iconos*/
  /*font awesome*/
  .mobilewrapper i {
    font-size: 2em;
    color: #fff;
  }


  header img {
    margin-left: 0px;
    width: 100px;
    height: 100px;
  }


  /*seccion1*/
  .seccion_1 {
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../images/img_mujer3.png);
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px;
    height: 95vh;
  }

  /*texto*/
  .seccion_1 .texto {
    margin: 0px;
    box-shadow: none;
    width: 100%;
    padding-top: 30px;
    background-image:
    linear-gradient( to bottom, rgba(7, 7, 7, 0.90),transparent);
  }



  .seccion_1 .subts1 {
    margin-top: 0px;
    width: 100%;
}


  .seccion_1 .texto h1 {
    font-size: 2.5em;
    padding: 15px;
    margin: 0px;
  }

  .seccion_1 .texto p {
    margin: 0px;
    font-size: 1.08em;
    padding: 10px 15px 15px 15px;
    word-spacing: -5px;
  }

  /*imagenes*/
  .seccion_1 .images {
    display: none;
  }

  .seccion_1 .amara_1 {
    top: 0px;
    left: 0px;
  }

  /*ocultar texto giratorio*/
  span {
    display: none;
  }


  /*evento destacado*/

.evento_destacado{
        padding: 20% 5% 40% 5%;
}
.eventon{
  flex-direction: column;
}
 .ev1{
   width: 100%;
   gap: 20px;}

   .evd2{
    margin: 0px;
    width: 100%;
   }

   .contador{
     width: 100%;
   }
  
   .contador h3{
     font-size: 18px;
   }
   
   .evd2 h3{
   font-size: 18px;
   padding: 0px; 
  }

  /*seccion2*/
  .close-button {
    font-family: 'JetBrains Mono', monospace;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    }
    .close-button:hover {
    background: rgba(0, 0, 0, 0.7);
    }

  /*imagenes*/


  .imagenev{
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


  #imgevento{
    position: relative;
     height: 25vh;
     filter: none;
     top: 65px;
     left: 20px;
   }



  .wrapperaft{
    flex-direction: column-reverse;
  }
  

  .seccion_2 {
    padding: 25px;
  }

  .wrapper_texto_s2 {
    width: 100%;
    padding: 0px;
  }

  .seccion_2 h1 {
    font-size: 1.5em;
    padding: 0px;
  }



  .seccion_2 h2{
    font-size: 1.2em;
  }
  .organizacion{
   width: 100%;
   height: 90vh;
   margin-bottom: 50px;
   background-image: url(../images/organizacion_mobile.png);
   background-size: 100%;
   margin-top: 100px;
  }


/*amara y alvaro mobile*/
/* cambiar a absolute y hacer un slider sort*/

.seccion_2 .contenedorayf{
  margin-top: 50px;
  padding: 0px;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  height: 30vh;
}

/*contenedor alvaro*/

  .container_img1{
    position: absolute;
    width:  55%;
    left: 20px;
    height: 40%;
    box-shadow: -12px -12px 16px 0  rgba(255, 255, 255, 0.3), 8px 8px 12px 0  rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
  }


  /*foto alvaro*/
  .placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    object-position: bottom center;
  }

  /*contenedor amara*/

  .contenedor_5 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    width: 55%;
    right: 20px;
    height:40%;
    transition: all 0.5s ease-in-out;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 25%), -8px -8px 12px 0 rgba(7, 7, 7, 0.26);  }


  /*foto amara*/
  #amara_f {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /*botones fotos mobile*/

  .activo {
    z-index: 2;
    transform: scale(1.0);
  }
  
  .inactivo {
    z-index: 1;
    transform: scale(0.8);
  }

  .desc{
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
    gap:0px;
    align-items: flex-end;
  }



  .social-media .media:hover{
    transform: translateY(0px);
  }

.media{
  top: -20px;
  left: -20px;
  background-color: unset;
  box-shadow: none;
  filter: none;
  backdrop-filter: none;
  border: none;
}

  .desc2 h3{
    padding: 0px;
    margin-top: 0px;
    font-size: 1.05em;
  }
  .desc2 h4{
    padding: 0px;
    font-size: 1.02em;
      line-height:12px;
  }

  .nosotros{
    padding:20px;
    height: 100%;
    gap: 60px;
  }

.nosotros h1{
 font-size: 1.5em; 
}

  .titulo_nosotros{
    margin-left: 0px;
  }
  .texto_nos{
    padding:40px 20px;
  }
  .texto_nos::before{
    clip-path: polygon(0 40px,40px 0,100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 40px,2px  calc(40px + 0.83px),2px calc(100% - 2px),calc(100% - 40px - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 40px - 0.83px),calc(100% - 2px) 2px,calc(40px + 0.83px) 2px,2px calc(40px + 0.83px));
  }



  .nosotros h2{
 font-size: 0.9em;
 line-height: normal;
  }
  .conocenos_mas{
    width: 73%;
    font-size: 1.01em;
    padding: 0px;
  }




  #wrap1 {
    left: 74%;
    top: 10%;
    height: 80%;
  }

  #wrap2 {
    left: 78%;
    top: 24%;
    height: 35%;
  }





  .social_mobile .media_mobile a i {
    color: #7a7a7a;
    font-size: 1.9em;
    margin: 5px;
    padding: 10px;
    background-color: rgba(91, 92, 92, 0.171);
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff11;
    border-radius: 15px;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.103);
  }

  /*foto1*/
  #img1_mobile {
    visibility: hidden;
    opacity: 0;
    justify-content: flex-start;
    width: auto;
    left: 72%;
    top: 70px;
    transition: all .5s ease-in-out;
  }


  /*ocultar cosas*/

 
  /*seccion 3*/
  .seccion_3 {
    padding-top: 0px;
    width: 100%;
  }

  .seccion_3 h3 {
    font-size: 1.05em;
  }


  /*foto2*/
  #img2_mobile {
    visibility: hidden;
    opacity: 0;
    width: auto;
    height: auto;
    justify-content: flex-end;
    transition: all .5s ease-in-out;
  }



}